<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    

<body>
    
    <%- include('./partials/headerDeslogeado') %>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small uk-card-default">
                <br>
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        <img src="<%=usuario[0].fotoPerfil%>" alt="foto de perfil" class="foto-perfil">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            <h3 class="uk-margin-remove"><%=posts[0].username%></h3>
                            <button class="uk-button uk-button-small uk-button-primary uk-margin-left">Seguir</button>
                        </div>
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                                <li><%=usuario[0].postsCant%> posts</li>
                                <li><%=usuario[0].followersCant %> seguidores</li>
                                <li><%=usuario[0].followCant %> seguidos</li>
                            </ul>
                        </div>
                    </div>
               </section>
               <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=posts[0].imagen%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center"><%=posts[0].pie%></p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[1]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Contento por el resultado</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[0]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Vamos Argentina!!!</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[2]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Family time</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[4]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Gracias @fcbarcelona</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[7]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Mas contento imposible!</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[5]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Preocupado con Luchito</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[6]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Amigos :)</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detalle-post" class="link-detalle">
                                <img src="../<%=usuario[0].imagenes[3]%>" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Todavia no estas a mi nivel</p>
                            </a>
                        </div>
                        
                    </div>
               </section>
            </div>
        </div>
    </main>

       <%- include('./partials/footer')  %> 


</body>

</html>