<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    
<body>
    <% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/headerDeslogeado') %>

    <% } %>

    <main>
        <div class="uk-section uk-section-small container">
                <form method="post" action="/post/editar/<%= posteo.id %> " class="pi" enctype="multipart/form-data">
                    <h2 class="pad">Editar tu posteo:</h2>
                    <h4>Ingrese su nueva imagen</h4>
                    <input class="form-input" type="file" name="fotoedit"  class="inputformulario" 
                     placeholder="foto de post" accept="image/png" enctype="multipart/form-data">
                     
                    <h4>Nuevo pie de foto: </h4>
                    <input type="text" name="pie" value="<%= posteo.description %> " class="inputformulario" onfocus="search()" placeholder="Escribe algo aquí..."> 
                    <br>
                    <br>
                    <button class="boton1" type="submit"> Editar </button> 

                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    

                </form>

            </div>
        </div>
    </main>
    
       <%- include('./partials/footer')  %> 

</body>

</html>