<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    

<body>
    
    <%- include('./partials/headerDeslogeado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="" alt="">
                            </div>
                            <h4><a href="/detalle-usuario">Usuario</a></h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detalle-usuario">
                                <img src="../<%=posts[0].imagen%>" alt="">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="/detalle-usuario">Usuario</a></h5>
                                <p class="uk-width-5-6"><%=posts[0].pie%></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[0].comment1%></p>
                                </li>
                                <li>
                                    <a href="detalle-usuario">Usuario</a>
                                    <p><%=posts[0].comment2%></p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>

                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="" alt="">
                            </div>
                            <h4><a href="/detalle-usuario">Usuario</a></h4>
                    
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detalle-post">
                                <img src="../<%=posts[1].imagen%>" alt="">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="/detalle-usuario">Usuario</a></h5>
                                <p class="uk-width-5-6"><%=posts[1].pie%></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[1].comment1%></p>
                                </li>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[1].comment2%></p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>

                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="" alt="">
                            </div>
                            <h4><a href="/detalle-usuario">Usuario</a></h4>
                    
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detalle-usuario">
                                <img src="../<%=posts[2].imagen%>" alt="">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="/detalle-usuario">Usuario</a></h5>
                                <p class="uk-width-5-6"><%=posts[2].pie%></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[2].comment1%></p>
                                </li>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[2].comment2%></p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="" alt="">
                            </div>
                            <h4><a href="/detalle-uduario">Usuario</a></h4>
                    
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detalle-post">
                                <img src="../<%=posts[3].imagen%>" alt="">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="/detalle-usuario">Usuario</a></h5>
                                <p class="uk-width-5-6"><%=posts[3].pie%></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[3].comment1%></p>
                                </li>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[3].comment2%></p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="" alt="">
                            </div>
                            <h4><a href="d/detalle-usuario">Usuario</a></h4>
                    
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detalle-post">
                                <img src="../<%=posts[4].imagen%>" alt="">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="/detalle-usuario">Usuario</a></h5>
                                <p class="uk-width-5-6"><%=posts[4].pie%></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[4].comment1%></p>
                                </li>
                                <li>
                                    <a href="/detalle-usuario">Usuario</a>
                                    <p><%=posts[4].comment2%></p>
                                </li>
                                <a href="/">Ver más...</a>
                            </ul>
                        </div>
                    </article>                
        
                </section>

            </div>
        </div>
    </main>

    <%- include('./partials/footer')  %> 

</body>

</html>