<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    

<body>
    
    <% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/headerDeslogeado') %>

    <% } %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <ul>
                    <% for (let i = 0; i < posteos.length; i++){ %> 
                        <article class="post uk-card-default uk-flex uk-flex-column">
                            <div class="info-usuario uk-flex ">
                                <div>
                                    <img src="<%=posteos[i].usuario.foto%>" alt="">
                                </div>
                                <h4><a href="/usuario/detalle"><%=posteos[i].usuario.nombre_usuario%></a></h4>
                                
                            </div>
                            <div class="post-body uk-flex uk-flex-center">
                                <a href="/post/detalle/:id">
                                    <img src="<%=posteos[i].foto%>" alt="">
                                </a>
                            </div>
                            <div class="post-reacciones">
                                <ul class="post-icons uk-flex uk-flex-between">
                                    <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                    </li>
                                    <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                    </li>
                                </ul>
                                <div class="post-pie uk-flex">
                                    <h5 class="uk-width-1-6"><a href="/usuario/detalle"><%=posteos[i].usuario.nombre_usuario%></a></h5>
                                    <p class="uk-width-5-6"><%=posteos[i].description%></p>
                                </div>
                            </div>
                            <div class="post-comentarios">
                                <h6>Comentarios</h6>
                                <ul>
                                    <li>
                                        <a href="/usuario/detalle"><%=posteos[i].usuario.nombre_usuario%></a>
                                        <p>Falta arreglar esto<%=posteos[i].comentario%></p>
                                    </li>
                                    <li>
                                        <a href="detalle-usuario"><%=posteos[i].usuario.nombre_usuario%></a>
                                        <p></p>
                                    </li>
                                    <a href="">Ver más...</a>
                                </ul>
                            </div>
                        </article>
                    <% } %> 
                </ul>
                </section>

            </div>
        </div>
    </main>

    <%- include('./partials/footer')  %> 

</body>

</html>