<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    

<body>


    <% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/headerDeslogeado') %>

    <% } %>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small uk-card-default">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        <img src="/images/<%=usuario.foto%>" alt="foto de perfil" class="foto-perfil">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            <h3 class="uk-margin-remove"><%=usuario.nombre_usuario%></h3>
                            <a href="/editar-perfil" uk-icon="icon:cog; ratio: 1.2" class="uk-margin-left"></a>
                        </div>
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                                <li><%=usuario.posteo.length%> posts </li>
                                <li>230M seguidores</li>
                                <li>355 seguidos</li>
                            </ul>
                        </div>
                    </div>

                </section>
                <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <% for(let i=0; i<usuario.posteo.length; i++){ %>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/post/detalle/<%= usuario.posteo[i].id%>" class="link-detalle">
                                <img src="../<%= usuario.posteo[i].foto%>" alt="foto" class="foto-perfil">
                                <p class="uk-text-center"><%= usuario.posteo[i].description%></p>
                            </a>
                        </div>
                        <% } %>
                    </div>
               </section>

                
            </div>
        </div>
    </main>

       <%- include('./partials/footer')  %> 



</body>

</html>
