<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


    <body>


        <% if(locals.user != undefined){ %>
            <%- include('./partials/headerLogeado') %>
       
        <%  } else {%>
            <%- include('./partials/headerDeslogeado') %>
    
        <% } %>
    

            <main>
                <div class="uk-section uk-section-small container">
                    <div class="padi">
                        <h2>Si no tenes una cuenta registrate</h2>
                    </div>
                    <div>
                     <form action="/usuario/registracion" method="POST" class="pi" enctype="multipart/form-data">

                        <h4> Nombre de usuario </h4>
                        <input type="text" name="name" value="" class="inputformulario"
                            onfocus="search()" placeholder="Ej. Leomessi10">
                        <h4> Fecha de Nacimiento </h4>
                        <input type="date" name="date" value="" class="inputformulario"
                            onfocus="search()" placeholder="">
                        <h4> Email </h4>
                        <input type="email" name="email" value="" class="inputformulario"
                            onfocus="search()" placeholder="Email">
                        
                         <% if(locals.error != undefined){ %>
                        <p ><%=error.message%></p>
                        <% }  %>
                        }
                        <h4> Nueva contraseña </h4>
                        <input type="password" name="password" value="" class="inputformulario"
                            onfocus="search()" placeholder="Contrasena">
                        
                        <% if(locals.errorscontrasenia != undefined){ %>
                            <p ><%=errorscontrasenia.message%></p>
                            <% }  %>
        

                        <h4>Agrega foto de perfil</h4>
                        <input class="form-input" type="file" name="fotoperfil"  class="inputformulario" 
                        onfocus="search()" placeholder="Foto de perfil" accept="image/png">
                        <button type="submit"> Agregar </button>
                        
                        <br>
                        <br>
                        <button type="submit"> Enter </button>
                        <br>
                        <br>
                        <br>
                        <br>




                        </form>
                    </div>
                </div>
            </main>

            <%- include('./partials/footer') %>



    </body>

</html>