<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    

<body>
    <% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/headerDeslogeado') %>

    <% } %>

        <main>
            <% if(usuarios.length == 0){ %>
        <h1 id="resultadoBusqueda">No se encontraron resultados de <%= resultado %> </h1>
             <%  } else {%>

            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex">
                    <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                        <h2>Resultados de posteos de <%= resultado %></h2>

                        <ul>
                            <% for(let i =0; i<usuarios.length;i++) %>
                            <li><%= usuarios[i] %> </li>
                            <% } %>  
                    </ul>
                
                </section>

    
                </div>
            </div>
            <% } %>
        </main>
        

       <%- include('./partials/footer')  %> 



</body>

</html>